*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkmagenta;

}

.title{
    color: white;
    text-align: center;
    padding: 10px;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.container div{
    width: 200px;
    color: wheat;
    flex-basis: 20%;
    margin: 2px;
}

.container div button{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    background-color: wheat;
    color: red;
}

.container div button.liked{
    background-color: black;
    color: wheat;
}